.header {
  text-align: center;
}
.header h1 {
  font-size: 200%;
  color: #333;
  margin-top: 30px;
}
.header p {
  font-size: 14px;
}
.am-g .am-form-group{

  padding-left: 0px;
  padding-right: 0px;
}
.pagination  {
   list-style:none;
   
}
.am-g .last-child{
  float:left;
}

/*style for search begin*/
    #search{
      position:fixed;
      left: 0px;
      top:0px;
      background: white;
      display: block;
    }
    
    #search_logo {
      padding-top:20px;
      padding-bottom: 0px;
      padding-left: 10px;
    }
    #search_form {
      padding-top:20px;
      padding-bottom: 0px;
    }
     #search_button {
      padding-top:20px;
      padding-bottom: 0px;
    }
    #search_results{
      margin-top:95px;
      margin-left: 100px;
    }
    #page_end_button{
      float: left;
    }
    #cant_find{
      margin-top:95px;
      margin-left: 100px;
    }
/*style for search begin end*/

    /*style for search form*/
    button {
      height: 39px;
      margin-left: 0px;
    }

    .am-form-field {
      width: 100%;
      margin:0px;
    }

    .highlight{
      color:#F00;
    }
